body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.install {
    float: left;
    width: 33.33%;
    padding: 3px;
    text-align: center;
}

.install img {
    height: 700px;
}
